---
import formatDate from "@/utils/formatDate";

type Props = {
  title: string;
  publishedAt: Date;
  description: string;
  slug: string;
};

const { title, publishedAt, description, slug } = Astro.props;
---

<article class="col-span-1 relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-4 pb-8 pt-80 sm:pt-48 lg:pt-80">
  <img src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
  <div class="absolute -inset-0 -z-10 bg-gradient-to-t from-slate-50 dark:from-slate-900 via-slate-50/40 dark:via-slate-900/40"></div>
  <div class="absolute -inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-slate-50/10 dark:ring-slate-900/10"></div>

  <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6">
    <time datetime={publishedAt} class="mr-8 text-slate-900 dark:text-slate-50">
      {formatDate(publishedAt)}
    </time>
  </div>
  <h3 class="mt-3 text-lg font-semibold leading-6 text-slate-900 dark:text-slate-50">
    <a href={`/articles/${slug}`} class="truncate">
      <span class="absolute inset-0"></span>
      {title}
    </a>
  </h3>
</article>
